langchain
langchain-core
langgraph
langchain-google-genai
langchain-community
tavily-python
pydantic
fastapi
uvicorn
streamlit
requests
pypdf
langchain-chroma 
langchain-experimental
chromadb
chainlit
langgraph-checkpoint-sqlite
langchain_huggingface
sentence-transformers
aiosqlite